:root {
    --primery-text-color:#212121;
    --second-text-color:#757575;
    --accent-color:#2196F3;
    --accent-second-color: #FFFFFF;
    --bgc-primery:#FFFFFF;
    --bgc-second:#F5F4FA;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

ul, p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

body {
    background: var(--bgc-primery);
    color: var(--primery-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid red;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.btn {
    font-family: inherit; 
    cursor: pointer;
    border-radius: 4px;
    border: none;
    display: inline-block;
}
.logo {
    color: var(--accent-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* header */
.header {
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-logo {
    color: #000000;
}
.header-nav-list .link.current{
    color: var(--accent-color);
}
.header-nav {
    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

.header-link {
    color: var(--second-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
}

.header .link:hover,
.header .link:focus {
    color: var(--accent-color);
}
/* hero */
.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: #2F303A; 
        /* тимчасово */
     }
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--accent-second-color);
    margin-bottom: 30px;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    
}
.hero-btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--accent-second-color);
    background-color: var(--accent-color);
    padding: 10px 32px;
    min-width: 216px;
}
.hero-btn:hover, .hero-btn:focus {
    background-color: #188CE8;
}
    

/* advantage */
.advantage-title{
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.advantage-text{
    font-size: 14px;
    line-height: 1.71;
    color: var(--second-text-color);
}
/* work */


/* team */
.team{
    background-color: var(--bgc-second);
}
.team-item{
    background-color: var(--bgc-primery);
}
.team-item-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}
.team-item-text{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--second-text-color);
}

/* footer */
.footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer .logo {
    margin-bottom: 20px;
}
.footer-logo{
    color: var(--accent-second-color);
}
.address-list{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
.footer-nav-link{
    color: var(--accent-second-color);
}
.footer-nav{
    color: rgba(255, 255, 255, 0.6);
}
.footer .link:hover,
.footer .link:focus {
    color: var(--accent-color);
}
/* portfolio */
.portfolio-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    color: var(--primery-text-color);
    background-color: var(--bgc-second);
    padding: 6px 22px;
}
.portfolio-btn:hover, .portfolio-btn:focus {
    color: var(--accent-second-color);
    background-color: var(--accent-color);
}
.portfolio-box-title{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primery-text-color);
    margin-bottom: 4px;
}
.portfolio-box-text{
    font-size: 16px;
    line-height: 1.88;
    color: var(--second-text-color);
}